@charset "UTF-8";

@font-face {
  font-family: 'Play';
  src: url(../fonts/Play-Bold.ttf) format('truetype');
  font-weight: 600;
  font-style: bolder;
}
@font-face {
  font-family: 'Play';
  src: url(../fonts/Play-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Bold.ttf) format('truetype');
  font-weight: 600;
  font-style: bolder;
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Material Symbols';
  font-style: normal;
  src: url(../fonts/MaterialSymbolsOutlined-ExtraLight.ttf) format('truetype');
}

.material-symbols {
  font-family: 'Material Symbols';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}


:root {
  --theme-color: #FF9900;
  --segment-bg: #50505A;
  --second-color: #3F3F49;
  --btn-color: #FF7000;
}


html {
  font-size: 16px !important;
}


body {
  background: #2a2c31;
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: 'Inter',sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
  margin: 0;
  padding: 0;
}

body.pushable > .pusher {
  background: #2a2c31;
}


h1, h2, h3, h4, h5 {font-family: "Play", sans-serif !important; font-weight: 400;}


a {color: var(--theme-color);}
a:hover {color: var(--btn-color);}






/*====== Login ======*/





.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.login-form {
  width: 300px;
  margin-top: -10% !important;
}

.login-form .logo {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1.75rem;
}
.login-form .logo img {
  width: 70px;
  height: 70px;
  margin-right: 1.25rem;
}

.login-form h1 {
  font-style: normal;
  font-size: 2.25rem;
  color: #FFF;
  margin-top: 1rem;
}

.login-form img {
  width: 100px;
}






/*====== Main ======*/





.main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1.75rem;
}

.ui.segment {
  background: var(--segment-bg) !important;
  border-top: 1px solid rgba(255,255,255,.2) !important;
  border-right: 1px solid rgba(255,255,255,.1) !important;
  border-bottom: 1px solid rgba(255,255,255,.1) !important;
  border-left: 1px solid rgba(255,255,255,.2) !important;
  border-radius: 8px !important;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.35) !important;
  padding: 1.75rem !important;
}
.ui.segment h2 {
  margin: 0.5rem;
  margin-bottom: 2.25rem;
}


.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Play", sans-serif;
  font-size: 1.125rem;
}
.logo img {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  margin-right: 1rem;
}






/*====== Menu 1 ======*/





.ui.text.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
}
.ui.text.menu .logo-profile {
  width: 90px;
  height: 90px;
}
.ui.text.menu .item {
  font-family: "Play", sans-serif;
  padding: 0.5rem 0.75rem;
}
.ui.text.menu .center, .mobile-nav {
  border: 1px solid var(--theme-color);
  height: 55px;
  padding: 0 1rem;
  border-radius: 12px;
  justify-content: center;
}
.ui.text.menu .center, .mobile-nav .item {
  font-size: 1.25rem;
  padding: 1rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.ui.text.menu .active.item {
  background: transparent;
  color: var(--theme-color) !important;
}
.ui.text.menu .item:hover {
  background: transparent;
  color: var(--theme-color) !important;
}
.ui.text.menu .active.item:hover {
  color: var(--theme-color) !important;
}
.ui.text.menu .right .material-symbols {
  color: var(--theme-color);
  font-size: 28px;
}
.ui.text.menu .dropdown.item .menu {
  background: var(--second-color) !important;
  border: 1px solid rgba(255,255,255,.1) !important;
  border-radius: 8px !important;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.35) !important;
  padding: 8px;
}
.ui.text.menu .dropdown.item .menu .item {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: #FFF !important;
  padding: 0.5rem 1rem !important;
  border-radius: 4px;
}
.ui.text.menu .mobile-nav .dropdown .menu .item {
  width: 150px;
  justify-content: center;
  padding: 0.75rem 1.75rem !important;
}
.ui.text.menu .mobile-nav .ui.dropdown .menu > .active.item {
  color: var(--theme-color) !important;
}
.ui.text.menu .dropdown.item .menu .item .material-symbols {
  color: var(--theme-color) !important;
  margin: 0 10px 0 -6px;
}






/*====== Menu 2 ======*/





.ui.tabular.menu {
  background: transparent;
}
.ui.tabular.menu .item {
  font-family: "Play", sans-serif !important;
  border-radius: 8px 8px 0px 0px !important;
  font-size: 1rem;
  margin-right: 4px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.ui.tabular.menu .active.item {
  background: rgba(245, 245, 255, 0.15) !important;
  border-color: rgba(255,255,255,.15);
  border-radius: 8px 8px 0px 0px !important;
  color: var(--theme-color) !important;
}
.ui.tabular.menu .active.item:hover {
  background: rgba(245, 245, 255, 0.1);
  color: var(--theme-color) !important;
}
.ui.tabular.menu .item:hover {
  color: var(--theme-color) !important;
}
.ui.tabular.menu .item .material-symbols {
  font-size: 32px;
}
.ui.tabular.menu .item:first-child {
  margin-left: 0.5rem;
}






/*====== Menu 3 ======*/





.ui.secondary.menu {
  display: inline-flex;
  max-width: 770px;
  overflow: hidden;
  background: var(--second-color);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,.25), inset -1px -1px 0px rgba(255,255,255,.25);
  border-radius: 8px;
  padding: 5px 2px 6px 1px;
  margin: 0 0 2rem 0;
}
.ui.secondary.menu .item {
  font-family: "Play", sans-serif !important;
  border-radius: 4px;
  margin: 0 4px;
  font-size: 1rem;
  font-weight: 600;
  padding: 2px 8px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.ui.secondary.menu .item .material-symbols {
  font-size: 32px;
}
.ui.secondary.menu .active.item {
  box-shadow: none;
  background: rgba(255,255,255,.15) !important;
  color: var(--theme-color) !important;
  border-radius: 4px;
  border-top: 1px solid rgba(255,255,255,.1) !important;
  border-right: 1px solid rgba(255,255,255,.05) !important;
  border-bottom: 1px solid rgba(255,255,255,.05) !important;
  border-left: 1px solid rgba(255,255,255,.1) !important;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}
.ui.secondary.menu .item:hover {
  color: var(--theme-color) !important;
}

.flexnav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 0 1rem;
  margin-bottom: 1rem;
}
.flexnav h2 {
  margin-bottom: 1rem !important;
}
.flexnav h2 a {
  color: #C8C8C8 !important;
}
.flexnav .menu {
  margin-bottom: 1rem !important;
}






/*====== Mobile-Nav ======*/





.ui.sidebar {
  width: 300px;
  background: var(--second-color) !important;
  border-right: 1px solid rgba(255,255,255,.1) !important;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.35) !important;
  padding: 2rem !important;
}
.ui.vertical.menu .item {
  font-family: "Play", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  color: #FFF;
  border-radius: 4px !important;
  margin-bottom: 6px;
  padding: 12px;
}
.ui.vertical.menu .active.item {
  background: rgba(0,0,0,0.1);
  border-radius: 4px !important;
  color: var(--theme-color) !important;
}
.ui.vertical.menu .item:hover, .ui.vertical.menu .item:active {
  background: rgba(0,0,0,0.1);
  color: var(--theme-color) !important;
}
.ui.vertical.menu .item::before {
  display: none;
}

.pushable > .pusher::after {
  background-color: rgba(0, 0, 0, 0.6);
}

#toggle span {
  color: var(--theme-color);
  font-size: 32px;
  margin-right: 1rem;
}

@media only screen and (min-width: 1100px) {
  #toggle {
    display: none !important;
  }
  .ui.secondary.menu {
    max-width: 450px;
  }
  .mobile-nav {
    display: none !important;
  }
}
@media only screen and (max-width: 1099px) {
  .ui.text.menu .center {
    display: none !important;
  }
  .mobile-nav {
    width: 158px;
  }
  .ui.text.menu .mobile-nav .dropdown.item .menu {
    right: -1em;
    top: 2em;
  }
}

.text-off {
  margin: 0 0.5rem;
}


@media only screen and (max-width: 767px) {
  .main {
    padding: 0 1rem;
  }
  .ui.segment {
    padding: 1rem !important;
  }
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 0;
  }
  .ui.text.menu .logo-profile {
    width: 60px;
    height: 60px;
    margin-right: 0;
  }
  .ui.secondary.menu {
    max-width: 250px;
  }
  .mobile-nav {
    width: 125px;
    height: 46px;
    padding: 0 4px;
  }
  .mobile-nav .item {
    font-size: 18px;
  }
  .ui.text.menu .mobile-nav .dropdown .menu .item {
    width: 125px;
  }
  .ui.accordion .content .grid {
    padding: 0 !important;
  }
  .add-btn {
    right: 1rem !important;
    top: 18px !important;
  }
  .text-off {
    display: none;
  }
}






/*====== Table ======*/





.ui.table {
  font-size: 1rem;
  margin: 0;
}
.ui.inverted.table tr th {
  border-bottom: 1px solid rgba(0,0,0, 0.35) !important;
  box-shadow: 0px 1px 0px rgba(255,255,255, 0.15) !important;
  color: rgba(255,255,255, 0.5) !important;
  font-size: 0.875rem;
  font-weight: 400;
}
.ui.inverted.table tr td {
  border-bottom: 1px solid rgba(0,0,0, 0.35) !important;
  box-shadow: 0px 1px 0px rgba(255,255,255, 0.15) !important;
}
.ui.table tr td {
  padding: 0.75rem;
  border-top: transparent !important;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) th:first-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) td:first-child {
  padding-left: 1em;
}
.ui[class*="very basic"].table:not(.sortable):not(.striped) th:last-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) td:last-child {
  padding-right: 1em;
}

.ui.table .right.aligned a {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--theme-color);
}


@media only screen and (max-width: 767px) {
  .ui.table:not(.unstackable) tr {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
  .ui.inverted.table tr th {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
  .ui.inverted.table tr td {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
}





/*====== Accordion ======*/





.ui.accordion .title {
  padding: 0 !important;
}
.ui.accordion .title.active {
  background: rgba(255, 255, 255, 0.05) !important;
}
.ui.accordion .title:last-child {
  border-bottom: 0;
  box-shadow: none;
}

.ui.accordion .content {
  padding: 0 !important;
}
.ui.accordion .content .grid {
  background: rgba(255, 255, 255, 0.05);
  margin: 0;
  padding: 1.25rem;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(0,0,0, 0.35);
  box-shadow: 0px 1px 0px rgba(255,255,255, 0.15);
}
.profile-img {
  max-width: 160px;
  width: 100%;
  height: auto;
  border: 2px solid #444;
  border-radius: 50%;
  background: #d95500;
  background: linear-gradient(180deg, #d95500 0%, #eebb88 100%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.profile-img img {
  width: 100%;
}






/*====== Form ======*/





.ui.form {
  margin-bottom: 0.5rem;
  max-width: 1166px;
}

.ui.form .field > label {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #C8C8C8;
}

.ui.form input {
  background: rgba(255,255,255,.2) !important;
  border: 1px solid rgba(255,255,255,.15) !important;
  color: #FFF !important;
  font-size: 1rem !important;
  height: 40px;
}

.ui.selection.dropdown {
  background: rgba(255,255,255,.2) !important;
  border: 1px solid rgba(255,255,255,.15) !important;
  color: #FFF !important;
  padding: 11px 1em;
  min-height: 40px;
}
.ui.selection.active.dropdown .menu {
  border: 1px solid rgba(255,255,255,.15) !important;
  box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);
  background: rgb(114,115,123);
}
.ui.selection.dropdown .menu > .item {
  border: 0;
  color: #FFF;
}
.ui.dropdown:not(.button) > .default.text, .ui.default.dropdown:not(.button) > .text {
  color: #C8C8C8;
}


.ui.form textarea {
  background: rgba(255,255,255,.2) !important;
  border: 1px solid rgba(255,255,255,.15) !important;
  color: #FFF !important;
}

.ui.icon.input > i.link.icon {
  font-family: 'Material Symbols';
  font-size: 24px;
  color: #FFF;
  line-height: 40px !important;
}

.ui.input>input::-webkit-input-placeholder{color:#C8C8C8;opacity:1}
.ui.input>input::-moz-placeholder{color:#C8C8C8;opacity:1}
.ui.input>input:-ms-input-placeholder{color:#C8C8C8;opacity:1}

.ui.form ::-webkit-input-placeholder{color:#C8C8C8;opacity:1}
.ui.form ::-moz-placeholder{color:#C8C8C8;opacity:1}
.ui.form ::-ms-input-placeholder{color:#C8C8C8;opacity:1}


.ui.form .button {
  margin-top: 1.5rem;
}



/*====== Button ======*/





.add-btn {
  position: absolute;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  right: 2rem;
  top: 33px;
  border-radius: 8px !important;
  padding: 8px 12px !important;
}
.addico {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  grid-gap: 1rem;
  height: 48px;
  margin-bottom: 1rem;
}
.addico .material-symbols {
  font-size: 32px;
}


.ui.basic.orange.buttons .button, .ui.basic.orange.button {
  box-shadow: 0px 0px 0px 1px var(--theme-color) inset !important;
  color: var(--theme-color) !important;
  font-family: "Play", sans-serif;
  font-size: 1rem;
  padding: 0.875rem 1.5rem;
}
.ui.basic.orange.buttons .button, .ui.basic.orange.button:hover {
  box-shadow: 0px 0px 0px 1px var(--theme-color) inset !important;
  color: var(--theme-color) !important;
}
.ui.basic.orange.buttons .button:active, .ui.basic.orange.button:active {
  box-shadow: 0px 0px 0px 1px var(--theme-color) inset !important;
  color: var(--theme-color) !important;
  background: transparent !important;
}
.ui.basic.orange.buttons .button:focus, .ui.basic.orange.button:focus {
  box-shadow: 0px 0px 0px 1px var(--theme-color) inset !important;
  color: var(--theme-color) !important;
}

.ui.basic.grey.buttons .button, .ui.basic.grey.button {
  color: #C8C8C8 !important;
}

.ui.labeled.icon.buttons > .button > .icon, .ui.labeled.icon.button > .icon {
  font-family: 'Material Symbols';
  font-size: 24px;
  line-height: 40px !important;
  width: 3rem;
}
.ui.action.input > .button, .ui.action.input > .buttons {
  padding: 0.75rem 0.75rem 0.75rem 3.5rem !important;
}

.loader-box {
  padding: 4rem 2rem;
}
.ui.text.loader {
  font-family: "Play", sans-serif;
  color: #212121;
  font-weight: 600;
  padding-top: 5rem !important;
}





/*====== Card ======*/





.ui.cards > .card, .ui.card {
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255,255,255,.1);
  box-shadow: 1px 1px 3px rgba(0,0,0,.15);
  overflow: hidden;
}
.ui.cards > .card > .content, .ui.card > .content {
  padding: 0.75rem;
}
.ui.cards > .card > .content > .header, .ui.card > .content > .header {
  color: rgba(255, 255, 255, 0.85) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  margin-bottom: 0.25rem;
}
.ui.cards > .card .meta, .ui.card .meta {
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.65);
}
.ui.cards > .card > .image, .ui.card > .image {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.15);
  overflow: hidden;
}






/*====== Modal ======*/





.ui.modal {
  background: var(--segment-bg);
  border-top: 1px solid rgba(255,255,255,.2);
  border-right: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(255,255,255,.1);
  border-left: 1px solid rgba(255,255,255,.2);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  overflow: hidden;
}
.ui.modal > .header {
  font-family: "Play", sans-serif !important;
  font-weight: 400 !important;
  background: transparent;
  color: #FFF;
  font-size: 1.75rem !important;
  padding-bottom: 0.5rem;
  border: 0;
}
.ui.modal > .close {
  top: 1.25rem;
  right: 1.25rem;
  opacity: 1;
  font-size: 2rem;
  color: #FFF;
  width: 2rem;
  height: 2rem;
  padding: 0;
}
.ui.modal > .content {
  background: transparent;
}
.ui.modal > .content > .image {
  border: 1px solid rgba(0,0,0, 0.1);
  border-radius: 8px;
  padding: 0 !important;
}
.ui.modal > .content > iframe {
  border-radius: 8px;
}
.ui.modal > .actions {
  background: transparent;
  border-top: 0;
  padding: 1rem 1.5rem 2rem 1rem;
  text-align: left;
}
.ui.modal > .actions .delete {
  float: right;
  padding: 7px;
}
.ui.dimmer {
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .ui.modal {
    width: 100%;
    height: 100%;
    border: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
  }
  .ui.tiny.modal {
    width: 100%;
  }
}




/*====== Footer ======*/



.footer {
  padding: 1rem;
  color: #7a7a7f;
}


/*DatePicker*/

.datepickerDark {
  background-color: rgb(80, 80, 90) !important;
  color: #fff;
  border: none !important;
  border-radius: 8px !important;
  /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5) !important;*/
  /*padding: 10px !important;*/
}

/* Верхняя шапка */
.react-datepicker__header {
  background-color: rgb(80, 80, 90) !important;
  border-bottom: none !important;
}

/* Название месяца */
.react-datepicker__current-month {
  color: #fff !important;
  background-color: transparent !important;
}

/* Названия дней недели */
.react-datepicker__day-name {
  color: #ccc !important;
  background-color: transparent !important;
}

/* Контейнер кнопок навигации */
.react-datepicker__navigation {
  top: 10px !important;
}

/* ← и → */
.react-datepicker__navigation-icon::before {
  border-color: #fff !important;
}

/* Индивидуальные дни */
.datepickerDarkDay {
  color: #fff !important;
}

/* Активный день */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #f2711c !important;
  color: white !important;
}

/* Hover по дню */
.react-datepicker__day:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.react-datepicker__month-container {
  background-color: rgb(80, 80, 90) !important;
  border-radius: 8px !important;
}

.react-datepicker__month {
  background-color: rgb(80, 80, 90) !important;
}